{% extends 'base.html' %}

{% block content %}
<h2>캠핑 예약</h2>

<form method="post">
    {% csrf_token %} 
    <!-- # form 취약한 해킹코드 방지, 입력한 다음 값 못들어오도록 막아줌 -->
        <table id="form_tbl">    
      <tr>
        <th><label for="id_book_date">check-in</label></th>
        <td>
          
          <input type="date" name="book_date" required id="id_book_date">
          
          
        </td>
      </tr>
    
      <tr>
        <th><label for="id_stay_date">check-out</label></th>
        <td>
          
          <input type="date" name="stay_date" required id="id_stay_date">
          
          
        </td>
      </tr>
    
      <tr>
        <th><label for="id_camp_no">캠핑장이름 </label></th>
        <td>
            <select name="camp_no" required id="id_camp_no">
                <option value="{{forms.camp_no}}">>확인필수!</option>
            </select>
          <!-- <input type="text" name="camp_no" value="{{forms.camp_no}}" required id="id_camp_no">   -->
        </td>
      </tr>
    
      <tr>
        <th><label for="id_id">사용자id</label></th>
        <td>
          
          <select name="id" required id="id_id">
      <option value="{{user.id}}" selected>{{user.username}}</option>
    
    </select>
          
          
            
          
        </td>
      </tr>
    </table><br>
    <button id="form_btn" type="submit">등록</button>
</form>
{% endblock content %}