{% extends 'base.html' %}

{% block content %}
<style>
  /* Add your CSS styles here */
  #form_tbl {
      width: 80%;
      margin: 0 auto;
  }

  label {
      font-weight: bold;
  }

  input[type="text"]#id_rev_title {
      width: 100%; /* Adjust the width as needed */
      height: 100%;
      padding: 8px;
      /* margin-bottom: 10px; */
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
  }

  input[type="number"],
  textarea,
  select {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
  }

  button#form_btn {
      background-color: #007BFF;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }
</style>

<h2>리뷰 작성</h2>

<form method="post">
    {% csrf_token %} 
    <!-- # form 취약한 해킹코드 방지, 입력한 다음 값 못들어오도록 막아줌 -->
    <table id="form_tbl">
        <tr>
    <th><label for="id_rev_title">제목:</label></th>
    <td>
      <input type="text" name="rev_title" maxlength="100" id="id_rev_title">
      
    </td>
  </tr>

  <tr>
    <th><label for="id_rev_content">리뷰 내용</label></th>
    <td>
      <textarea name="rev_content" cols="40" rows="10" id="id_rev_content">
</textarea>
    </td>
  </tr>
  <tr>
    <th><label for="id_rev_rate">평점</label></th>
    <td>
      
      <input type="number" name="rev_rate" step="any" id="id_rev_rate"
      max="5" min="0" value="5">
      
      
    </td>
  </tr>
  <tr>
    <th><label for="id_rev_date">오늘날짜</label></th>
    <td>
      <input type="date" name="rev_date" required id="id_rev_date" readonly>
      <script>document.getElementById('id_rev_date').value = new Date().toISOString().substring(0, 10)</script>
      </td>
  </tr>

  <tr>
    <th><label for="id_id">사용자id</label></th>
    <td>
        <select name="id" id="id_id">
            <option value="{{user.id}}" selected>{{user.username}}</option>
          </select>
    </td>
  </tr>

  <tr>
    <th><label for="id_camp_no">캠핑장이름 </label></th>
    <td>
        <!-- <input type="text" value="{{rform.camp_no}}"> -->
        <select name="camp_no" required id="id_camp_no">
            <option value="{{rform.camp_no}}"></option>
        </select>
    </td>
  </tr>
    </table><br>
    <button id="form_btn" type="submit">등록</button>
</form>
{% endblock content %}