{% extends 'base.html' %}

{% block content %}   

<input type="text" id="search-input" placeholder="Search camping sites">
<div id="search-results"></div>

<script>
    $(document).ready(function() {
        $("#search-input").on('input', function() {
            var query = $(this).val();
            if (query.length > 2) {
                $.ajax({
                    url: '/search/',
                    data: { query: query },
                    dataType: 'json',
                    success: function(data) {
                        var resultsDiv = $("#search-results");
                        resultsDiv.empty();
                        data.forEach(function(site) {
                            resultsDiv.append("<p><strong>" + site.name + "</strong><br>" + site.location + "<br>" + site.description + "</p>");
                        });
                    }
                });
            }
        });
    });
</script>

{% endblock content %}