{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static '/css/list_page.css' %}">
<script type="text/javascript">

  function clip(){
  
    var url = '';
    var textarea = document.createElement("textarea");
    document.body.appendChild(textarea);
    url = window.document.location.href;
    textarea.value = url;
    textarea.select();
    document.execCommand("copy");
    document.body.removeChild(textarea);
    alert("URL이 복사되었습니다.")
  }
</script>
{% endblock %}
      
{% block content %}
<div id="s_contanier">
  <div class="gray_bar"></div>

  <div id="cont_inner">
    <div class="sub_layout layout">
      <section
        id="section1"
        style="right: 0px"
      >
        <header class="title_w mb_0">
          <h2 class="title2">총 <span class="em_org">3718개</span> 캠핑장이 검색되었습니다.</h2>
          <ul class="share">
            <li class="link">
              <a
                href="#"
                onclick="clip(); return false;"
              ></a>
            </li>
          </ul>
        </header>
      </section>
      <!--내용시작-->
      <div id="contents">
        <div class="search_list_gr">
          <div class="select_box array_select">
            <label
              for="selectListOrdrTrget"
              class="skip"
              >정렬하기</label
            >
            <select
              class="detail_select"
              id="selectListOrdrTrget"
              title="정렬하기"
            >
              <option value="last_updusr_pnttm">업데이트순</option>
              <option value="frst_register_pnttm">등록일순</option>
              <option
                value="c_rdcnt"
                selected="selected"
              >
                조회순
              </option>
              <option value="c_recomend_cnt">추천순</option>
            </select>
          </div>
        </div>
      </div>
      <!--리스트시작-->
      <div class="camp_search_list">
        <ul>
          <li>
            <div class="c_list update">
              <a
                href="/bsite/camp/info/read.do?c_no=1776&amp;viewType=read01&amp;listOrdrTrget=c_rdcnt"
                class="dc_none"
                ><span class="skip">캠핑장정보 더보기</span>
                <div class="img_box">
                  <img
                    src="https://gocamping.or.kr/upload/camp/1776/thumb/thumb_720_7922zTbLn3nQp8qLRrnUilVU.jpg"
                    alt="사천비토솔섬오토캠핑장"
                  />
                  <div class="clist_icon">
                    <ul>
                      <li>
                        <i class="con_tip c03"><span class="skip">산</span></i>
                      </li>
                    </ul>
                  </div>
                </div>
              </a>
              <div class="camp_cont">
                <p class="item_group">
                  <span class="item_t01">관광사업자 등록업체</span>
                  <span class="item_t02">리뷰수 0</span> <span class="item_t03">조회수 244702</span> <span class="item_t04">추천수 17</span>
                </p>
                <h2 class="camp_tt">
                  <a href="/bsite/camp/info/read.do?c_no=1776&amp;viewType=read01&amp;listOrdrTrget=c_rdcnt">[경상남도 사천시] 사천비토솔섬오토캠핑장</a>
                </h2>
                <span class="camp_stt">일몰과 바다 전망이 장관인 솔섬오토캠핑장.</span>
                <span class="camp_txt">
                  <a href="/bsite/camp/info/read.do?c_no=1776&amp;viewType=read01&amp;listOrdrTrget=c_rdcnt"
                    ><span class="skip">캠핑장정보 더보기</span> 솔섬오토캠핑장은 별주부전 테마파크가 있는 사천시 비토섬 인근 해안에 위치하고 있는
                    캠핑장이다. 바닥은 파쇄석으로 되어...</a
                  >
                </span>
                <ul class="camp_info01">
                  <li class="addr">경남 사천시 서포면 토끼로 245-29</li>
                  <li class="call_num">055-854-0404</li>
                </ul>
                <!--아이콘모음-->
                <div class="camp_item_box">
                  <ul>
                    <li>
                      <i class="ico_volt"><span>전기</span></i>
                    </li>
                    <li>
                      <i class="ico_wifi"><span>와이파이</span></i>
                    </li>
                    <li>
                      <i class="ico_wood"><span>장작판매</span></i>
                    </li>
                    <li>
                      <i class="ico_hotwater"><span>온수</span></i>
                    </li>
                    <li>
                      <i class="ico_pool"><span>물놀이장</span></i>
                    </li>
                    <li>
                      <i class="ico_playzone"><span>놀이터</span></i>
                    </li>
                    <li>
                      <i class="ico_ico_sports"><span>운동시설</span></i>
                    </li>
                  </ul>
                </div>
                <!--//아이콘모음-->
              </div>
            </div>
          </li>
          <li>
            <div class="c_list update">
              <a
                href="/bsite/camp/info/read.do?c_no=6975&amp;viewType=read01&amp;listOrdrTrget=c_rdcnt"
                class="dc_none"
                ><span class="skip">캠핑장정보 더보기</span>
                <div class="img_box">
                  <img
                    src="https://gocamping.or.kr/upload/camp/6975/thumb/thumb_720_8864VHhvenUMGtZByAoSmY82.jpg"
                    alt="동강전망휴양림오토캠핑장"
                  />
                  <div class="clist_icon">
                    <ul>
                      <li>
                        <i class="con_tip c03"><span class="skip">산</span></i>
                      </li>
                    </ul>
                  </div>
                </div>
              </a>
              <div class="camp_cont">
                <p class="item_group">
                  <span class="item_t01">관광사업자 등록업체</span>
                  <span class="item_t02">리뷰수 0</span> <span class="item_t03">조회수 157463</span> <span class="item_t04">추천수 9</span>
                </p>
                <h2 class="camp_tt">
                  <a href="/bsite/camp/info/read.do?c_no=6975&amp;viewType=read01&amp;listOrdrTrget=c_rdcnt">[강원도 정선군] 동강전망휴양림오토캠핑장</a>
                </h2>
                <span class="camp_stt">운해와 야경이 일품인 휴양림속 야영장</span>
                <span class="camp_txt">
                  <a href="/bsite/camp/info/read.do?c_no=6975&amp;viewType=read01&amp;listOrdrTrget=c_rdcnt"
                    ><span class="skip">캠핑장정보 더보기</span> 우리나라에서 가장 아름답고 보존이 잘 된 강으로 통하는 동강. 정선 가수리를 들머리로
                    운치리와 제장마을,연포마을 차...</a
                  >
                </span>
                <ul class="camp_info01">
                  <li class="addr">강원 정선군 신동읍 동강로 916-212</li>
                  <li class="call_num">033-560-3464</li>
                </ul>
                <!--아이콘모음-->
                <div class="camp_item_box">
                  <ul>
                    <li>
                      <i class="ico_volt"><span>전기</span></i>
                    </li>
                    <li>
                      <i class="ico_hotwater"><span>온수</span></i>
                    </li>
                  </ul>
                </div>
                <!--//아이콘모음-->
              </div>
            </div>
          </li>
          <li>
            <div class="c_list update">
              <a
                href="/bsite/camp/info/read.do?c_no=2703&amp;viewType=read01&amp;listOrdrTrget=c_rdcnt"
                class="dc_none"
                ><span class="skip">캠핑장정보 더보기</span>
                <div class="img_box">
                  <img
                    src="https://gocamping.or.kr/upload/camp/2703/thumb/thumb_720_2890o5rTanipvxecRAsCWCNh.jpg"
                    alt="정읍시 내장산 국민여가캠핑장"
                  />
                  <div class="clist_icon">
                    <ul>
                      <li>
                        <i class="con_tip c03"><span class="skip">산</span></i>
                      </li>
                    </ul>
                  </div>
                </div>
              </a>
              <div class="camp_cont">
                <p class="item_group">
                  <span class="item_t01">관광사업자 등록업체</span>
                  <span class="item_t02">리뷰수 0</span> <span class="item_t03">조회수 132573</span> <span class="item_t04">추천수 8</span>
                </p>
                <h2 class="camp_tt">
                  <a href="/bsite/camp/info/read.do?c_no=2703&amp;viewType=read01&amp;listOrdrTrget=c_rdcnt"
                    >[전라북도 정읍시] 정읍시 내장산 국민여가캠핑장</a
                  >
                </h2>
                <span class="camp_stt">내장산에서 불어오는 상쾌한 바람 속에 캠핑을 즐기자.</span>
                <span class="camp_txt">
                  <a href="/bsite/camp/info/read.do?c_no=2703&amp;viewType=read01&amp;listOrdrTrget=c_rdcnt"
                    ><span class="skip">캠핑장정보 더보기</span> 내장산 국민여가캠핑장은 내장산 문화광장 내에 조성되어 있는 곳으로 일반캠핑장, 오토캠핑장,
                    카라반, 자가 카라반 등 ...</a
                  >
                </span>
                <ul class="camp_info01">
                  <li class="addr">전라북도 정읍시 내장산로 390</li>
                  <li class="call_num">063-538-7955</li>
                </ul>
                <!--아이콘모음-->
                <div class="camp_item_box">
                  <ul>
                    <li>
                      <i class="ico_volt"><span>전기</span></i>
                    </li>
                    <li>
                      <i class="ico_wifi"><span>와이파이</span></i>
                    </li>
                    <li>
                      <i class="ico_hotwater"><span>온수</span></i>
                    </li>
                    <li>
                      <i class="ico_pool"><span>물놀이장</span></i>
                    </li>
                    <li>
                      <i class="ico_walk"><span>산책로</span></i>
                    </li>
                    <li>
                      <i class="ico_ground"><span>운동장</span></i>
                    </li>
                  </ul>
                </div>
                <!--//아이콘모음-->
              </div>
            </div>
          </li>
          <li>
            <div class="c_list update">
              <a
                href="/bsite/camp/info/read.do?c_no=2999&amp;viewType=read01&amp;listOrdrTrget=c_rdcnt"
                class="dc_none"
                ><span class="skip">캠핑장정보 더보기</span>
                <div class="img_box">
                  <img
                    src="https://gocamping.or.kr/upload/camp/2999/thumb/thumb_720_82851Qgoj9tciPOJB9BUSZaB.jpg"
                    alt="충주카누캠핑장"
                  />
                  <div class="clist_icon">
                    <ul>
                      <li>
                        <i class="con_tip c03"><span class="skip">산</span></i>
                      </li>
                    </ul>
                  </div>
                </div>
              </a>
              <div class="camp_cont">
                <p class="item_group">
                  <span class="item_t01">관광사업자 등록업체</span>
                  <span class="item_t02">리뷰수 0</span> <span class="item_t03">조회수 122937</span> <span class="item_t04">추천수 2</span>
                </p>
                <h2 class="camp_tt">
                  <a href="/bsite/camp/info/read.do?c_no=2999&amp;viewType=read01&amp;listOrdrTrget=c_rdcnt">[충청북도 충주시] 충주카누캠핑장</a>
                </h2>
                <span class="camp_stt">아름다운 충주호가 눈앞에 펼쳐지는 오토캠핑장 </span>
                <span class="camp_txt">
                  <a href="/bsite/camp/info/read.do?c_no=2999&amp;viewType=read01&amp;listOrdrTrget=c_rdcnt"
                    ><span class="skip">캠핑장정보 더보기</span> 카누 캠핑장은 충북 충주시 동량면에 자리 잡고 있다. 충주시청을 기점으로 약 15km 거리에
                    있으며, 차량을 이용해 ...</a
                  >
                </span>
                <ul class="camp_info01">
                  <li class="addr">충북 충주시 동량면 지등로 1276-4</li>
                  <li class="call_num">010-4479-5587</li>
                </ul>
                <!--아이콘모음-->
                <div class="camp_item_box">
                  <ul>
                    <li>
                      <i class="ico_volt"><span>전기</span></i>
                    </li>
                    <li>
                      <i class="ico_wood"><span>장작판매</span></i>
                    </li>
                    <li>
                      <i class="ico_hotwater"><span>온수</span></i>
                    </li>
                    <li>
                      <i class="ico_ico_sports"><span>운동시설</span></i>
                    </li>
                  </ul>
                </div>
                <!--//아이콘모음-->
              </div>
            </div>
          </li>
          <li>
            <div class="c_list update">
              <a
                href="/bsite/camp/info/read.do?c_no=8014&amp;viewType=read01&amp;listOrdrTrget=c_rdcnt"
                class="dc_none"
                ><span class="skip">캠핑장정보 더보기</span>
                <div class="img_box">
                  <img
                    src="https://gocamping.or.kr/upload/camp/8014/thumb/thumb_720_4703Qm7QalwokiTMJMJJxt8m.jpg"
                    alt="수도권매립지 캠핑장"
                  />
                  <div class="clist_icon">
                    <ul>
                      <li>
                        <i class="con_tip c06"><span class="skip">강</span></i>
                      </li>
                    </ul>
                  </div>
                </div>
              </a>
              <div class="camp_cont">
                <p class="item_group">
                  <span class="item_t01">관광사업자 등록업체</span>
                  <span class="item_t02">리뷰수 0</span> <span class="item_t03">조회수 115859</span> <span class="item_t04">추천수 18</span>
                </p>
                <h2 class="camp_tt">
                  <a href="/bsite/camp/info/read.do?c_no=8014&amp;viewType=read01&amp;listOrdrTrget=c_rdcnt">[인천시 서구] 수도권매립지 캠핑장</a>
                </h2>
                <span class="camp_stt"></span>
                <span class="camp_txt">
                  <a href="/bsite/camp/info/read.do?c_no=8014&amp;viewType=read01&amp;listOrdrTrget=c_rdcnt"
                    ><span class="skip">캠핑장정보 더보기</span>
                  </a>
                </span>
                <ul class="camp_info01">
                  <li class="addr">인천 서구 정서진로 500 (오류동)</li>
                  <li class="call_num">032-569-7847</li>
                </ul>
                <!--아이콘모음-->
                <div class="camp_item_box">
                  <ul>
                    <li>
                      <i class="ico_volt"><span>전기</span></i>
                    </li>
                    <li>
                      <i class="ico_wood"><span>장작판매</span></i>
                    </li>
                    <li>
                      <i class="ico_hotwater"><span>온수</span></i>
                    </li>
                    <li>
                      <i class="ico_playzone"><span>놀이터</span></i>
                    </li>
                    <li>
                      <i class="ico_walk"><span>산책로</span></i>
                    </li>
                    <li>
                      <i class="ico_ground"><span>운동장</span></i>
                    </li>
                    <li>
                      <i class="ico_ico_sports"><span>운동시설</span></i>
                    </li>
                    <li>
                      <i class="ico_mart"><span>마트.편의점</span></i>
                    </li>
                  </ul>
                </div>
                <!--//아이콘모음-->
              </div>
            </div>
          </li>
          <li>
            <div class="c_list update">
              <a
                href="/bsite/camp/info/read.do?c_no=6808&amp;viewType=read01&amp;listOrdrTrget=c_rdcnt"
                class="dc_none"
                ><span class="skip">캠핑장정보 더보기</span>
                <div class="img_box">
                  <img
                    src="https://gocamping.or.kr/upload/camp/6808/thumb/thumb_720_7220TFDBmnMnj80cEaOn5lup.jpg"
                    alt="변산반도국립공원 고사포 야영장"
                  />
                  <div class="clist_icon">
                    <ul>
                      <li>
                        <i class="con_tip c01"><span class="skip">해변</span></i>
                      </li>
                    </ul>
                  </div>
                </div>
              </a>
              <div class="camp_cont">
                <p class="item_group">
                  <span class="item_t01">관광사업자 등록업체</span>
                  <span class="item_t02">리뷰수 0</span> <span class="item_t03">조회수 115787</span> <span class="item_t04">추천수 13</span>
                </p>
                <h2 class="camp_tt">
                  <a href="/bsite/camp/info/read.do?c_no=6808&amp;viewType=read01&amp;listOrdrTrget=c_rdcnt"
                    >[전라북도 부안군] 변산반도국립공원 고사포 야영장</a
                  >
                </h2>
                <span class="camp_stt">고사포해수욕장 송림안에 마련된 국립공원관리공단 운영 캠핑장</span>
                <span class="camp_txt">
                  <a href="/bsite/camp/info/read.do?c_no=6808&amp;viewType=read01&amp;listOrdrTrget=c_rdcnt"
                    ><span class="skip">캠핑장정보 더보기</span> 고사포 해변은 변산반도 국립공원에 포함된 해수욕장이다.약 2km에 이르는 백사장과 방풍을
                    위해 심어 놓은 약 300m...</a
                  >
                </span>
                <ul class="camp_info01">
                  <li class="addr">전라북도 부안군 변산면 운산리 441-11</li>
                  <li class="call_num">063-582-7808</li>
                </ul>
                <!--아이콘모음-->
                <div class="camp_item_box">
                  <ul>
                    <li>
                      <i class="ico_volt"><span>전기</span></i>
                    </li>
                    <li>
                      <i class="ico_wifi"><span>와이파이</span></i>
                    </li>
                    <li>
                      <i class="ico_hotwater"><span>온수</span></i>
                    </li>
                    <li>
                      <i class="ico_playzone"><span>놀이터</span></i>
                    </li>
                    <li>
                      <i class="ico_walk"><span>산책로</span></i>
                    </li>
                    <li>
                      <i class="ico_mart"><span>마트.편의점</span></i>
                    </li>
                  </ul>
                </div>
                <!--//아이콘모음-->
              </div>
            </div>
          </li>
          <li>
            <div class="c_list update">
              <a
                href="/bsite/camp/info/read.do?c_no=2217&amp;viewType=read01&amp;listOrdrTrget=c_rdcnt"
                class="dc_none"
                ><span class="skip">캠핑장정보 더보기</span>
                <div class="img_box">
                  <img
                    src="https://gocamping.or.kr/upload/camp/2217/thumb/thumb_720_4587ZwAbjie8wZF6iPj1SZ10.jpg"
                    alt="영덕 고래불 국민 야영장"
                  />
                  <div class="clist_icon">
                    <ul>
                      <li>
                        <i class="con_tip c01"><span class="skip">해변</span></i>
                      </li>
                    </ul>
                  </div>
                </div>
              </a>
              <div class="camp_cont">
                <p class="item_group">
                  <span class="item_t01">관광사업자 등록업체</span>
                  <span class="item_t02">리뷰수 0</span> <span class="item_t03">조회수 106033</span> <span class="item_t04">추천수 7</span>
                </p>
                <h2 class="camp_tt">
                  <a href="/bsite/camp/info/read.do?c_no=2217&amp;viewType=read01&amp;listOrdrTrget=c_rdcnt">[경상북도 영덕군] 영덕 고래불 국민 야영장</a>
                </h2>
                <span class="camp_stt">동해바다를 바라보며 즐기는 캠핑의 낭만</span>
                <span class="camp_txt">
                  <a href="/bsite/camp/info/read.do?c_no=2217&amp;viewType=read01&amp;listOrdrTrget=c_rdcnt"
                    ><span class="skip">캠핑장정보 더보기</span> 고래불국민야영장은 경상북도 영덕군 고래불해수욕장 인근에 자리했다. 당진영덕고속도로
                    영덕IC로 나와 국도 7호선을 타고...</a
                  >
                </span>
                <ul class="camp_info01">
                  <li class="addr">경상북도 영덕군 병곡면 고래불로 12</li>
                  <li class="call_num">054-734-6220</li>
                </ul>
                <!--아이콘모음-->
                <div class="camp_item_box">
                  <ul>
                    <li>
                      <i class="ico_volt"><span>전기</span></i>
                    </li>
                    <li>
                      <i class="ico_wifi"><span>와이파이</span></i>
                    </li>
                    <li>
                      <i class="ico_hotwater"><span>온수</span></i>
                    </li>
                    <li>
                      <i class="ico_pool"><span>물놀이장</span></i>
                    </li>
                    <li>
                      <i class="ico_playzone"><span>놀이터</span></i>
                    </li>
                    <li>
                      <i class="ico_ico_sports"><span>운동시설</span></i>
                    </li>
                    <li>
                      <i class="ico_mart"><span>마트.편의점</span></i>
                    </li>
                  </ul>
                </div>
                <!--//아이콘모음-->
              </div>
            </div>
          </li>
          <li>
            <div class="c_list update">
              <a
                href="/bsite/camp/info/read.do?c_no=2422&amp;viewType=read01&amp;listOrdrTrget=c_rdcnt"
                class="dc_none"
                ><span class="skip">캠핑장정보 더보기</span>
                <div class="img_box">
                  <img
                    src="https://gocamping.or.kr/upload/camp/2422/thumb/thumb_720_1819fKOADYFML8JkBiVZiTKc.jpg"
                    alt="용인 자연숲 캠핑장"
                  />
                  <div class="clist_icon">
                    <ul>
                      <li>
                        <i class="con_tip c03"><span class="skip">산</span></i>
                      </li>
                    </ul>
                  </div>
                </div>
              </a>
              <div class="camp_cont">
                <p class="item_group">
                  <span class="item_t01">관광사업자 등록업체</span>
                  <span class="item_t02">리뷰수 0</span> <span class="item_t03">조회수 104111</span> <span class="item_t04">추천수 3</span>
                </p>
                <h2 class="camp_tt">
                  <a href="/bsite/camp/info/read.do?c_no=2422&amp;viewType=read01&amp;listOrdrTrget=c_rdcnt">[경기도 용인시] 용인 자연숲 캠핑장</a>
                </h2>
                <span class="camp_stt">양지파인리조트 너머에 있는 산속 힐링 캠핑장</span>
                <span class="camp_txt">
                  <a href="/bsite/camp/info/read.do?c_no=2422&amp;viewType=read01&amp;listOrdrTrget=c_rdcnt"
                    ><span class="skip">캠핑장정보 더보기</span> 용인자연숲힐링캠핑장은 양지 나들목 가까이에 있다. 지도상에서 보면 양지파인리조트 산
                    너머에 있다. 좌항 저수지 위쪽에...</a
                  >
                </span>
                <ul class="camp_info01">
                  <li class="addr">경기 용인시 처인구 원삼면 원양로591번길 93-34</li>
                  <li class="call_num">010-9424-7978</li>
                </ul>
                <!--아이콘모음-->
                <div class="camp_item_box">
                  <ul>
                    <li>
                      <i class="ico_volt"><span>전기</span></i>
                    </li>
                    <li>
                      <i class="ico_wifi"><span>와이파이</span></i>
                    </li>
                    <li>
                      <i class="ico_wood"><span>장작판매</span></i>
                    </li>
                    <li>
                      <i class="ico_hotwater"><span>온수</span></i>
                    </li>
                    <li>
                      <i class="ico_ico_ico_tramp"><span>트렘폴린</span></i>
                    </li>
                    <li>
                      <i class="ico_pool"><span>물놀이장</span></i>
                    </li>
                    <li>
                      <i class="ico_ico_sports"><span>운동시설</span></i>
                    </li>
                  </ul>
                </div>
                <!--//아이콘모음-->
              </div>
            </div>
          </li>
          <li>
            <div class="c_list update">
              <a
                href="/bsite/camp/info/read.do?c_no=2672&amp;viewType=read01&amp;listOrdrTrget=c_rdcnt"
                class="dc_none"
                ><span class="skip">캠핑장정보 더보기</span>
                <div class="img_box">
                  <img
                    src="https://gocamping.or.kr/upload/camp/2672/thumb/thumb_720_8622MUgbQjvlvxxPtpZckjRE.jpg"
                    alt="장호비치캠핑장"
                  />
                  <div class="clist_icon">
                    <ul>
                      <li>
                        <i class="con_tip c01"><span class="skip">해변</span></i>
                      </li>
                    </ul>
                  </div>
                </div>
              </a>
              <div class="camp_cont">
                <p class="item_group">
                  <span class="item_t01">관광사업자 등록업체</span>
                  <span class="item_t02">리뷰수 0</span> <span class="item_t03">조회수 98403</span> <span class="item_t04">추천수 2</span>
                </p>
                <h2 class="camp_tt">
                  <a href="/bsite/camp/info/read.do?c_no=2672&amp;viewType=read01&amp;listOrdrTrget=c_rdcnt">[강원도 삼척시] 장호비치캠핑장</a>
                </h2>
                <span class="camp_stt">동해안에서 가장 아름답다는 장호해변 언덕에 위치한 휴양 캠핑 시설</span>
                <span class="camp_txt">
                  <a href="/bsite/camp/info/read.do?c_no=2672&amp;viewType=read01&amp;listOrdrTrget=c_rdcnt"
                    ><span class="skip">캠핑장정보 더보기</span> 장호비치캠핑장은 동해안에서도 가장 아름답기로 소문난 장호해변 언덕에 자리잡고 있다.
                    캠핑장 바로 앞이 해수욕장 이고,...</a
                  >
                </span>
                <ul class="camp_info01">
                  <li class="addr">강원도 삼척시 근덕면 삼척로 2116</li>
                  <li class="call_num">033-576-0884~5</li>
                </ul>
                <!--아이콘모음-->
                <div class="camp_item_box">
                  <ul>
                    <li>
                      <i class="ico_volt"><span>전기</span></i>
                    </li>
                    <li>
                      <i class="ico_wifi"><span>와이파이</span></i>
                    </li>
                    <li>
                      <i class="ico_hotwater"><span>온수</span></i>
                    </li>
                    <li>
                      <i class="ico_playzone"><span>놀이터</span></i>
                    </li>
                    <li>
                      <i class="ico_ico_sports"><span>운동시설</span></i>
                    </li>
                  </ul>
                </div>
                <!--//아이콘모음-->
              </div>
            </div>
          </li>
          <li>
            <div class="c_list update">
              <a
                href="/bsite/camp/info/read.do?c_no=7767&amp;viewType=read01&amp;listOrdrTrget=c_rdcnt"
                class="dc_none"
                ><span class="skip">캠핑장정보 더보기</span>
                <div class="img_box">
                  <img
                    src="https://gocamping.or.kr/upload/camp/7767/thumb/thumb_720_6897zhFRTiMXgMH1DUbtVRcI.jpg"
                    alt="대천용두야영장"
                  />
                  <div class="clist_icon">
                    <ul>
                      <li>
                        <i class="con_tip c01"><span class="skip">해변</span></i>
                      </li>
                    </ul>
                  </div>
                </div>
              </a>
              <div class="camp_cont">
                <p class="item_group">
                  <span class="item_t01">관광사업자 등록업체</span>
                  <span class="item_t02">리뷰수 0</span> <span class="item_t03">조회수 92219</span> <span class="item_t04">추천수 7</span>
                </p>
                <h2 class="camp_tt">
                  <a href="/bsite/camp/info/read.do?c_no=7767&amp;viewType=read01&amp;listOrdrTrget=c_rdcnt">[충청남도 보령시] 대천용두야영장</a>
                </h2>
                <span class="camp_stt">기막힌 경관의 MBC ‘나 혼자 산다’ 촬영지</span>
                <span class="camp_txt">
                  <a href="/bsite/camp/info/read.do?c_no=7767&amp;viewType=read01&amp;listOrdrTrget=c_rdcnt"
                    ><span class="skip">캠핑장정보 더보기</span> 대천용두캠핑장은 충남 보령시 웅천읍에 자리했다. 보령시청을 기점으로 15Km가량 떨어졌다.
                    자동차를 타고 충서로, 월...</a
                  >
                </span>
                <ul class="camp_info01">
                  <li class="addr">충남 보령시 웅천읍 열린바다로 100-50</li>
                </ul>
                <!--아이콘모음-->
                <div class="camp_item_box">
                  <ul>
                    <li>
                      <i class="ico_volt"><span>전기</span></i>
                    </li>
                    <li>
                      <i class="ico_wifi"><span>와이파이</span></i>
                    </li>
                    <li>
                      <i class="ico_wood"><span>장작판매</span></i>
                    </li>
                    <li>
                      <i class="ico_hotwater"><span>온수</span></i>
                    </li>
                    <li>
                      <i class="ico_playzone"><span>놀이터</span></i>
                    </li>
                    <li>
                      <i class="ico_ico_sports"><span>운동시설</span></i>
                    </li>
                  </ul>
                </div>
                <!--//아이콘모음-->
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!--//리스트시작-->
      <!--페이징-->
      <div class="paging">
        <ul>
          <li>
            <a href="/bsite/camp/info/list.do?pageUnit=10&amp;searchKrwd=&amp;listOrdrTrget=c_rdcnt&amp;pageIndex=1"
              ><img
                src="https://gocamping.or.kr//img/2018/sub/btn_pre00.png"
                alt="처음으로"
            /></a>
          </li>
          <li>
            <a href="/bsite/camp/info/list.do?pageUnit=10&amp;searchKrwd=&amp;listOrdrTrget=c_rdcnt&amp;pageIndex=1"
              ><img
                src="https://gocamping.or.kr//img/2018/sub/btn_pre01.png"
                alt="이전으로"
            /></a>
          </li>
          <li class="num on"><a href="#none">1</a></li>
          <li class="num"><a href="/bsite/camp/info/list.do?pageUnit=10&amp;searchKrwd=&amp;listOrdrTrget=c_rdcnt&amp;pageIndex=2">2</a></li>
          <li class="num"><a href="/bsite/camp/info/list.do?pageUnit=10&amp;searchKrwd=&amp;listOrdrTrget=c_rdcnt&amp;pageIndex=3">3</a></li>
          <li class="num"><a href="/bsite/camp/info/list.do?pageUnit=10&amp;searchKrwd=&amp;listOrdrTrget=c_rdcnt&amp;pageIndex=4">4</a></li>
          <li class="num"><a href="/bsite/camp/info/list.do?pageUnit=10&amp;searchKrwd=&amp;listOrdrTrget=c_rdcnt&amp;pageIndex=5">5</a></li>
          <li class="num"><a href="/bsite/camp/info/list.do?pageUnit=10&amp;searchKrwd=&amp;listOrdrTrget=c_rdcnt&amp;pageIndex=6">6</a></li>
          <li class="num"><a href="/bsite/camp/info/list.do?pageUnit=10&amp;searchKrwd=&amp;listOrdrTrget=c_rdcnt&amp;pageIndex=7">7</a></li>
          <li class="num"><a href="/bsite/camp/info/list.do?pageUnit=10&amp;searchKrwd=&amp;listOrdrTrget=c_rdcnt&amp;pageIndex=8">8</a></li>
          <li class="num"><a href="/bsite/camp/info/list.do?pageUnit=10&amp;searchKrwd=&amp;listOrdrTrget=c_rdcnt&amp;pageIndex=9">9</a></li>
          <li class="num"><a href="/bsite/camp/info/list.do?pageUnit=10&amp;searchKrwd=&amp;listOrdrTrget=c_rdcnt&amp;pageIndex=10">10</a></li>
          <li>
            <a href="https://gocamping.or.kr//bsite/camp/info/list.do?pageUnit=10&amp;searchKrwd=&amp;listOrdrTrget=c_rdcnt&amp;pageIndex=11"
              ><img
                src="https://gocamping.or.kr//img/2018/sub/btn_next01.png"
                alt="다음으로"
            /></a>
          </li>
          <li>
            <a href="/bsite/camp/info/list.do?pageUnit=10&amp;searchKrwd=&amp;listOrdrTrget=c_rdcnt&amp;pageIndex=372"
              ><img
                src="https://gocamping.or.kr//img/2018/sub/btn_next00.png"
                alt="맨끝으로"
            /></a>
          </li>
        </ul>
      </div>
      <!--//페이징-->
      <!--페이징_TM-->
      <div class="paging_tm">
        <ul>
          <li class="prev"><a href="/bsite/camp/info/list.do?pageUnit=10&amp;searchKrwd=&amp;listOrdrTrget=c_rdcnt&amp;pageIndex=1">PREV</a></li>
          <li><strong title="현재페이지">1 </strong>/372</li>
          <li class="next"><a href="/bsite/camp/info/list.do?pageUnit=10&amp;searchKrwd=&amp;listOrdrTrget=c_rdcnt&amp;pageIndex=2">NEXT</a></li>
        </ul>
      </div>
      <!--//페이징_TM-->
    </div>
    <!--//내용종료-->
  </div>
</div>
  </body>
</html>
