{% block content %}

<div id="sign_up_box">
	<span class="page_title">기업회원 전환</span><br><br>
    <span class="signup_hint">빠짐없이 작성해주세요.</span><br>
    <span class="signup_hint">사업자등록증은 PDF 파일로 보내주시기 바랍니다.</span><br>
    <span class="signup_hint"> whynotcamping@gma.co.kr </span><br><br>

    <form action="{% url 'sign_up2_company' %}" method="post">
        {% csrf_token %}         

        {% comment %} {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"
                        {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %} {% endcomment %}
        {% comment %} <label class='lbl'>아이디 확인 *</label>    <input type="text" name='username'> <br> {% endcomment %}
        <label class='lbl'>회사명 *</label>    <input type="text" name='company_name'> <br>
        <label class='lbl'>전화번호 *</label>    <input type="text" name='company_tel' placeholder="하이픈(-)없이 입력"> <br>
        <label class='lbl'>주소 *</label>    <input type="text" name='company_address'> <br>
        <button type="submit" class='btn'>완료</button>        
    </form>
</div>
{% endblock content %}
