{% extends 'base.html' %}

{% load static %}   
{% block content %}   

<h2>문의하기</h2>


<div id='inquire'>
<form method="post">
    {% csrf_token %}
        <div id="iquire_box">
            <div>
                <input type="hidden" name="id" value='{{ user.id }}'>
                <input type="hidden" name="inq_date" value='{% now "Y-m-d" %}'>
                <label>제목</label>
                <input type="text" name="inq_title" id="inq_title">
            </div>
            <div>
                <label>문의사항</label>
                <textarea name="inq_content" rows="4" cols="50"></textarea>
            </div><br>
        </div>
    <br>
    <button id="inquire_form_btn" type="submit">완료</button>
</form>
</div>
{% endblock content %}




