{% load static %}   

{% block content %}   
<h2>내 정보 수정</h2>
<div class="user_info_update">
    <p><strong>아이디:</strong> {{ user.username }}</p>
    <p><strong>이름:</strong> {{ user.user_name }}</p>
    <p><strong>생년월일:</strong> {{ user.user_age }}</p>
    <p><strong>성별:</strong> {{ user.user_gender }}</p>
    <p><strong>전화번호:</strong> {{ user.user_tel }}</p>
    <p><strong>주소:</strong> {{ user.user_address }}</p>
    <p><strong>이메일:</strong> {{ user.email }}</p>
    <p><strong>메일링 수신여부:</strong> {{ user.user_subscribe_sms }}{{ user.user_subscribe_email }}</p>
    <button id="edit_button" type="button" >수정</button>
</div>

<div id="edit_profile_block" style="display: none;">
    <h3>프로필 수정</h3>
    <form method="post" id="edit_profile_form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">저장</button>
        <button id="cancel_button" type="button">취소</button>
    </form>
</div>

{% endblock content %}
