{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>캠핑어때</title>
    <link rel="stylesheet" href="{% static '/css/camping.css' %}">
    {% block extrahead %}
    {% endblock %}
    
    <link rel="icon" href="{% static '/img/icon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static '/css/users.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <script src="{% static '/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static '/js/camping.js' %}"></script>
    <script src="{% static '/js/icon.js' %}"></script>
    <script src="{% static '/js/detail_ajax.js' %}"></script>
    
</head>
<body>
    <div id="wrap">
        {% include "header.html" %}
        <hr>
        {% include "nvbar.html" %}
        <hr>
        {% block content %}   
         
        {% endblock content %} 
        <hr>
        {% include "footer.html" %}

        </div>
        
        <script defer src="{% static '/js/mypage.js' %}"></script>
        <script defer src="{% static '/js/signup.js' %}"></script>

</body>
</html>