<footer>
    <div class="container">
        <p>&copy; 2023 캠핑정보</p>

        {% comment %} <a href="{% url 'user_inquire' %}">문의하기</a> {% endcomment %}
        <div class="f_addr">
            <address class="addr">
                <div>허리도 가늘군 만지면 (부러지리 246-8) 한국관광가기</div>
                <div>TEL : 070-1234-5678 (상담시간 : 평일 10:00~18:00)</div>
                <div>EMAIL : <a href="mailto:whynotcamping@gma.co.kr" class="f_mail">whynotcamping@gma.co.kr</a></div>
                <div>온라인교육 고객센터 : 02-654-3210</div>
            </address>
            <div class="btn_top" style="display: block;">상단으로</div>

            <br>
        </div>
                <p>&copy; 2023 캠핑어때 AI백엔드_5회차_4조 ALL RIGHTS RESERVED.</p> 
    </div>
</footer>