<footer>
    <div class="container">
        <div class='site_imfomation'>
            <ul>
                <!-- <li><a href="{% url 'user_inquire' %}" id='inquire_btn'>문의하기</a></li> -->
            </ul>
        </div>
        <div class="f_addr">
            <address class="addr">
                <div>허리도 가늘군 만지면 (부러지리 246-8) 한국관광가기</div>
                <div>TEL : 070-1234-5678 (상담시간 : 평일 10:00~18:00)</div>
                <div>EMAIL : <a href="mailto:whynotcamping@gma.co.kr" class="f_mail">whynotcamping@gma.co.kr</a></div>
                <div>온라인교육 고객센터 : 02-654-3210</div>
            </address>
            <div class="btn_top" style="float: right; position: relative;  margin-right: 50px;">상단으로</div>

            <div style="float: right; margin-right: 30px;"><a href="{% url 'user_inquire' %}" id='inquire_btn' style="border-radius: 10px;">문의하기</a></li></div>
        </div>
                <p style="display: block; margin: 18px auto; text-align: center; width: 400px; font-size: 12px;">&copy; 2023 캠핑어때 AI백엔드_5회차_4조 ALL RIGHTS RESERVED.</p> 
    </div>
</footer>