<nav>
    <ul style="margin: 10px 0; border-top: 1px solid black; border-bottom: 1px solid black; height: 50px; line-height: 50px; font-size: 18px; font-weight: bold; letter-spacing: -1px;">
        <li class="navbr"><a  href="{% url 'camping_list' %}">캠핑장 찾아보기</a></li>
        <li class="navbr"><a  href="{% url 'camping_safety' %}">캠핑은 안전하게</a></li>
        <li class="navbr"><a  href="{% url 'camping_form' %}">캠핑장 등록요청</a></li>
        <li class="navbr"><a  href="{% url 'camping_new_list' %}">신규등록 캠핑장</a></li>
</nav>
