<nav>
    {% if messages %}
    <script>
        // JavaScript를 사용하여 Django 메시지를 경고 창으로 표시
        window.onload = function() {
            var messageTags = {
                'success': 'success',
                'info': 'info',
                'warning': 'warning',
                'error': 'error',
            };

            {% for message in messages %}
                var messageTag = "{{ message.tags }}";
                var messageText = "{{ message|escapejs }}"; // JavaScript 이스케이프 처리

                if (messageTag in messageTags) {
                    alert(messageText);
                }
            {% endfor %}
        };
    </script>
{% endif %}
    <ul>
        <li class="navbr"><a  href="{% url 'camping_list' %}">캠핑장 찾아보기</a></li>
        <li class="navbr"><a  href="{% url 'camping_safety' %}">캠핑은 안전하게</a></li>
        <li class="navbr"><a  href="{% url 'camping_form' %}">캠핑장 등록요청</a></li>
        <li class="navbr"><a  href="{% url 'camping_new_list' %}">신규등록 캠핑장</a></li>
</nav>
